{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	{{ title }}	| {{ block.super }}
{% endblock title %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}
<div class="container">
	<div class="row">
		<div class='col-md-6'>
			<h1>{{ H1 }}</h1>

			<form action=""
				  enctype="multipart/form-data"
			      method="POST"
			      class="form-contact" role="form">{% csrf_token %}

				{{ form|crispy }}
				<input type="submit" value="Create Post">
			</form>
		</div>

		<div class="col-md-6">
			<h1> Preview </h1>
			<div class="content-preview">
				<h3 id="preview-title"></h3>
				<p id='preview-content'></p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


