{% extends "base.html" %}

{% load crispy_forms_tags %}

	{% block title %}
		{{ title }} | {{ block.super }}
	{% endblock title %}

	{% block post_detail_link %}
		<li><a href="{{ posts.get_absolute_url }}">{{ post.title }}</a></li>
	{% endblock post_detail_link %}

{% block content %}
<div class="container">
	<div class="row">
		<div class='col-xl-8 col-md-push-2'>
			{% if post.image %}
			<img src='{{ post.image.url }}' class='img-responsive'>
			{% endif %}

			<h1>{{ post.title }} <small>
				{% if post.draft %}<span style="color:red;">Draft</span>{% endif %}
				{{ post.publish }}</small>
			</h1>

			{% if post.user.get_full_name %}
				<p>Author: {{ post.user.get_full_name }}</p>
			{% else %}
				<p>Author: N/A</p>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-xl-8 col-md-push-2">
			<a href="{% url 'posts:update' slug=post.slug %}">Edit</a><br/>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class='col-xl-8 col-md-push-2'>
			<div class="post-detail">
				<!-- {# <div class="post-detail-item">{{ post.content }}</div> #} -->
				<div class="content-markdown"><!-- TODO: static page, render by django back-end -->
{{ post.content }}
				</div>
			</div>

			<hr/>
			<br/>

			<div id="comments">
				<p class='lead'>Comments</p>
				<hr/>

				<div class='post-reply'>
					{% if request.user.is_authenticated %}
					<form method="POST" action="">{% csrf_token %}
						{{ comment_form|crispy }}

						<input type="submit" value="Post Comment"
							   class="btn btn-default">
					</form>
					{% else %}
						<p>You need to login to comment</p>
					{% endif %}

					<br/>
					<hr/>

					<blockquote>
					{% for comment in post.comments %}
						<div class="" id="{{ comment.id }}"><!-- TODO: id for anchor after comment -->
							<div class='comment-post-content'>
								<p>{{ comment.content }}</p>
								<br/>						
								<footer>
									via <b>{{ comment.user.username }}</b> on <i>{{ comment.timestamp|timesince}}</i> ago 
									{% if request.user.is_authenticated %}
									| <button type="button" class="btn btn-default"
										onclick="displayReplyForm({{ comment.id }});">
											<i class="fa fa-comment"></i>
										</button>
									{% endif %}
									| <a href="{{ comment.get_absolute_url }}">Thread</a>
								</footer>
							</div>
							<div class='comment-reply'>
								<div class="comment-comment-content">
									<blockquote>
										{% for child_comment in comment.children %}
										<div class="" id="{{ child_comment.id }}"><!-- TODO: id for anchor -->
											<p>{{ child_comment.content }}</p>
											<br/>
											<footer>
												via <b>{{ child_comment.user.username }}</b>|<i>{{ child_comment.timestamp|timesince}}</i> ago
											</footer>
										</div>
										<hr/>
										{% endfor %}
									</blockquote>
								</div>

								<div class="comment-comment-form">
									<form method="POST" action=""
										  class=""
										  id="child_reply_form_{{ comment.id }}" style="display:none">{% csrf_token %}
										{{ comment_form|crispy }}
										<input type="hidden" name="parent_id" value="{{ comment.id }}">
										<input type="submit" value="Reply"
											   class="btn btn-default">
									</form>
								</div>
							</div>

						</div>		
						<hr/>
					{% endfor %}
					</blockquote>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}


{% block js_document_ready %}
	{{ block.super }}
{% endblock js_document_ready %}


{% block js_base_edit %}/* empty in detial page */{% endblock js_base_edit %}

{% block js_document_ready_extra %}
	$(".content-markdown img").each(function(){
		$(this).addClass("img-responsive");
	});
{% endblock js_document_ready_extra %}


{% block js %}
<script>
function displayReplyForm(index){
	_id = 'child_reply_form_' + index;
	var lastStatus = document.getElementById(_id).style.display;
	// console.log(lastStatus);
	if (lastStatus == 'none'){
		document.getElementById(_id).style.display='';
	}else{
		document.getElementById(_id).style.display='none';
	}
}
</script>
{% endblock js %}


