{% extends "base.html" %}
	{% block title %}
		{{ title }} | {{ block.super }}
	{% endblock title %}

{% block content %}

<div class="row">
<div class='col-sm-8 col-sm-offset-2'>
	{% if post.image %}
	<img src='{{ post.image.url }}' class='img-responsive'>
	{% endif %}

	<h1>{{ post.title }} <small>
		{% if post.draft %}<span style="color:red;">Draft</span>{% endif %}
		{{ post.publish }}</small>
	</h1>

	{% if post.user.get_full_name %}
		<p>Author: {{ post.user.get_full_name }}</p>
	{% else %}
		<p>Author: N/A</p>
	{% endif %}
</div>
</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-2">
	<a href="{% url 'posts:update' slug=post.slug %}">Edit</a><br/>
</div>
</div>

<hr/>

<div class="row">
	<div class='col-sm-8 col-sm-offset-2'>
		<!-- {# <div class="post-detail-item">{{ post.content }}</div> #} -->
		<div class="content-markdown">
{{ post.content }}
		</div>

		<hr/>
		<br/>
		<div id="comments">
			<p class='lead'>Comments</p>
			<hr/>

			<blockquote>
			{% for comment in post.comments %}
			{# {% for comment in comments %} #}
				<div class="">
					<p>{{ comment.content }}</p><br/>
					<footer>
						via <b>{{ comment.user.username }}</b> on <i>{{ comment.timestamp|timesince}}</i> ago
					</footer>

					<hr/>

				</div>		
			{% endfor %}
			</blockquote>
		</div>

	</div>
</div>

{% endblock content %}
