{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}
		Blog
	{% endblock title %}</title>

{# bootstrap #}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


	<link rel='stylesheet' href='{% static "css/base.css" %}' />

{% block head_extra %} {% endblock head_extra %}


</head>
<body>

{% include "messages.html" %}

<div class="container">
	{% block content %}
		
	{% endblock content %}
</div>


<script
  src="http://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script src="{% static 'marked.min.js' %}"></script>


<script>
$(document).ready(function(){
	$(".content-markdown").each(function(){
		var content = $(this).text();  // src
		// console.log(content);
		var markedContent = marked(content);
		// console.log(markedContent);
		$(this).html(markedContent);
	});

	$(".post-detail-item img").each(function(){
		$(this).addClass("img-responsive");
	});

	// preview-title
	var titleInput = $("#id_title");

	function setTitle(value){
		$("#preview-title").text(value);
	}
	setTitle(titleInput);

	titleInput.keyup(function(){
		var inputTitle = $(this).val();
		setTitle(inputTitle);
	});

	// preview-content
	// var title
	var contentInput = $("#id_content");
	function setContent(value){
		var markedContent = marked(value);
		$("#preview-content").html(markedContent);
		$("#preview-content img").each(function(){
			$(this).addClass("img-responsive");
		});
	}
	setContent(contentInput.val());

	contentInput.keyup(function(){
		// console.log($(this).val());
		var intputContent = $(this).val();
		setContent(intputContent);
	});

});

</script>

</body>
</html>