<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}|POSTS</title>
</head>
<body>
{% if messages %}
	<ul class='messages'>
		{% for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}

	<h1>{{ post.title }}</h1>


id: {{ post.id }}<br/>
pk: {{ post.pk }}<br/>
content: {{ post.content }}<br/>
timestamp: {{ post.timestamp }}<br/>
updated: {{ post.updated }}<br/>
<br/>

<a href="{% url 'posts:update' pk=post.pk %}">Edit</a>
</body>
</html>
