{% extends "base.html" %}
	{% block title %}
		{{ title }} | {{ block.super }}
	{% endblock title %}

{% block content %}

<div class='col-sm-8 col-sm-offset-2'>
	{% if post.image %}
	<img src='{{ post.image.url }}' class='img-responsive'>
	{% endif %}

	<h1>{{ post.title }} <small>
		{% if post.draft %}<span style="color:red;">Draft</span>{% endif %}
		{{ post.publish }}</small>
	</h1>
	{% if post.user.get_full_name %}
	<p>Author: {{ post.user.get_full_name }}</p>
	{% else %}
	<p>Author: N/A</p>
	{% endif %}
	{{ post.content|linebreaks }}<br/>
	<br/>

	<a href="{% url 'posts:update' slug=post.slug %}">Edit</a>

</div>

{% endblock content %}
